.container{
    margin-top: 70px;
    margin-bottom: 70px;
}

footer{
    position:fixed;
    bottom:0px;
    color: white;
    background-color: black;
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

#contactUs{
    font-size: 1.2rem;
    color: #00DDDD;
}

.contact{
    display: none;
}

.title{
    font-size: 1.5rem;
}

.bigNav{
    font-size: 1.1rem;
}

footer i{
    color: #FA8072;
    padding-top: 10px;
}

footer p{
    margin-bottom: 10px;
}

.part33{
    width: 33%;
}

footer a{
    color: white;
}

footer a:hover{
    color: white;
    text-decoration: none;
}