/*
粉紅:#ffadbb
粉藍:#8fc7fe
粉綠:#b2dd85
*/
.nav33{
    width: 33%;
    text-align: center;
}

#mapName{
    color: #b2dd85;
    font-size: 0.95rem;
}

#foodName{
    color: #ffadbb;
    font-size: 0.95rem;
}

#shopName{
    color: #8fc7fe;
    font-size: 0.95rem;
}

#img-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

#img-container a{
    width: 50%;
    padding: 5px 10px;
}


#img-container a img{
    width: 100%;
    /*height: 100px;*/
}

#img-container a p{
    text-align: center;
    text-decoration: none;
    background-color: #8fc7fe;
    color: white;
    padding: 5px;
}

#img-container a:active {
    text-decoration: none;
}

#img-container a:hover {
    text-decoration: none;
}

form{
    margin-top: 30px;
}

form label{
    width: 30%;
    text-align: right;
    padding-right: 10px;
    margin-bottom: 20px;
}

form input{
    width: 65%;
    margin-bottom: 20px;
}

#sub{
    margin:0 auto;
    width: 60px;
    margin-top: 10px;
}

textarea{
    width: 65%;
}