/*
粉紅:#ffadbb
粉藍:#8fc7fe
粉綠:#b2dd85
*/
.nav33{
    width: 33%;
    text-align: center;
}

#mapName p{
    color: #b2dd85;
    font-size: 0.95rem;
    margin-bottom: 0px;
}

#foodName p{
    color: #ffadbb;
    font-size: 0.95rem;
    margin-bottom: 0px;
}

#shopName p{
    color: #8fc7fe;
    font-size: 0.95rem;
    margin-bottom: 0px;
}

i{
    color: black;
}

.img-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.imgs{
    width: 50%;
    padding: 5px 10px;
}


.imgs img{
    width: 100%;
    /*height: 100px;*/
}

.imgs p{
    text-align: center;
    text-decoration: none;
    background-color: #8fc7fe;
    color: white;
    padding: 5px;
}

.imgs:active {
    text-decoration: none;
}

.imgs:hover {
    text-decoration: none;
}

form{
    margin-top: 30px;
}

form label{
    width: 30%;
    text-align: right;
    padding-right: 10px;
    margin-bottom: 20px;
}

form input{
    width: 65%;
    margin-bottom: 20px;
}

#sub{
    margin:0 auto;
    width: 60px;
    margin-top: 10px;
}

#sub button{
    background-color: #6be4da;
    color: white;
}

textarea{
    width: 65%;
}

#map1 {
        height: 400px;
        width: 100%;
}

button{
    margin: auto;
}

#map1{
    margin-top: 15px;
}
