<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="main.css">
    <link rel="stylesheet" type="text/css" href="mainPage.css">
    <script src="https://use.fontawesome.com/3aac789b17.js"></script>
    <title>文山越南美食大搜查</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded fixed-top">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand title" href="mainPage.html">
                <i class="fa fa-home" aria-hidden="true"></i>
                文山越南美食大搜查
            </a>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle bigNav" href="#" id="navbarFoodLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">美食品嘗</a>
                        <div class="dropdown-menu" aria-labelledby="navbarFoodLink">
                            <div id="appNav">
                                <div v-for="(s , aid) in activities">
                                    <a class="dropdown-item" :href="'food.html?aid=' + aid">{{s.title}}</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle bigNav" href="#" id="navbarShopLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">店家探索</a>
                        <div class="dropdown-menu" aria-labelledby="navbarShopLink">
                            <div id="appNav1">
                                <div v-for="(s , aid) in activities">
                                    <a class="dropdown-item" :href="'shop.html?aid=' + aid">{{s.title}}</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item nav33">
                <a class="nav-link active" data-toggle="tab" href="#map" role="tab" id="mapName">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <br>
                    <p>美食地圖</p>
                </a>
            </li>
            <li class="nav-item nav33">
                <a class="nav-link" data-toggle="tab" href="#food" role="tab" id="foodName">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                    <br>
                    <p>特色美食</p>
                </a>
            </li>
            <li class="nav-item nav33">
                <a class="nav-link" data-toggle="tab" href="#recommend" role="tab" id="shopName">
                    <i class="fa fa-share" aria-hidden="true"></i>
                    <br>
                    <p>推薦店家</p>
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="map" role="tabpanel">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#list" role="tab">店家導覽</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#m" role="tab">美食地圖</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane" id="m" role="tabpanel">
                        <div id="map1"></div>
                    </div>
                    <div class="tab-pane active" id="list" role="tabpanel">
                        <div id="shop1">
                            <div class="img-container">
                                <div v-for="(s , aid) in activities" class="imgs">
                                    <a :href="'shop.html?aid=' + aid">
                                <img v-bind:src="s.src1" v-bind:alt="s.title">
                                <p>{{s.title}}</p>
                            </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="food" role="tabpanel">
                <div id="food1">
                    <div class="img-container">
                        <div v-for="(s , aid) in activities" class="imgs">
                            <a :href="'food.html?aid=' + aid">
                                <img v-bind:src="s.src1" v-bind:alt="s.title">
                                <p>{{s.title}}</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="recommend" role="tabpanel">
                <form class="form-horizontal">
                    <label class="control-label" for="person">推薦人</label>
                    <input type="text" id="person">
                    <label class="control-label" for="e-mail">信箱</label>
                    <input type="email" id="e-mail">
                    <label class="control-label" for="shopNam">*店家名稱</label>
                    <input type="text" id="shopNam" required>
                    <label class="control-label" for="shopAddr">*店家地址</label>
                    <input type="text" id="shopAddr" required>
                    <label class="control-label" for="note">備註</label>
                    <input type="text" id="note">
                    <div id="sub">
                        <button type="submit" class="btn">送出</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://www.gstatic.com/firebasejs/4.0.0/firebase.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOdrEfMu495zTidXmysoAftpzRwTrMJmc&callback=initMap"></script>
    <script src="main.js"></script>
    <script src="mainPage.js"></script>
</body>

</html>